{% extends 'base.html' %}

{% block title %}
    Create Balozi
{%  endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-heading"><h1>Sajili ya Mabalozi</h1></div>
    <div class="container-fluid">
       <div class="card card-default d-lg-block">
          <div class="row">
             <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="card-title text-left alert alert-default"><b style="font-size:22px;">Jaza taarifa kwa usahihi ili kusajili balozi wa mtaa</b></div>
                <div class="card-body">
                   <form class="form-create_balozi" method="post" action="/create_balozi">
                     {{ form.hidden_tag() }}
                     <div class="form-group row">
                        {{ form.name.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.name(class="form-control", placeholder="Jina la kwanza la balozi") }}
                             </div>
                     </div>
                     <p></p>
                     <div class="form-group row">
                        {{ form.surname.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.surname(class="form-control", placeholder="Jina la mwisho la balozi") }}
                             </div>
                     </div>
                     <p></p>
                     <div class="form-group row">
                        {{ form.nida.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.nida(class="form-control", placeholder="Kitambulisho cha taifa cha balozi") }}
                             </div>
                     </div>
                     <p></p>
                     <div class="form-group row">
                        {{ form.phonenumber.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.phonenumber(class="form-control", placeholder="Namba ya simu ya balozi") }}
                             </div>
                     </div>
                      <div class="card-title text-left alert alert-default"><b style="font-size:18px;">Taarifa za makazi ya balozi wa mtaa</b></div>
                      <div class="form-group row">
                        {{ form.street.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.street(class="form-control", placeholder="Mtaa wa balozi") }}
                             </div>
                     </div>
                     <p></p>
                     <div class="form-group row">
                        {{ form.neighborhood.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.neighborhood(class="form-control", placeholder="Kitongoji cha balozi") }}
                             </div>
                     </div>
                     <p></p>
                     <div class="form-group row">
                        {{ form.county.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.county(class="form-control", placeholder="Kata ya balozi") }}
                             </div>
                     </div>
                     <p></p>
                     <div class="form-group row">
                        {{ form.region_id.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.region_id(class="form-control", placeholder="Mkoa wa balozi") }}
                             </div>
                     </div>
                     <p></p>
                     <div class="form-group row">
                        {{ form.district_id.label(class="text-bold col-xl-4 col-md-4 col-xs-12 col-form-label text-left") }}
                              <div class="col-xl-6 col-md-6 col-xs-12">
                                 {{ form.district_id(class="form-control", placeholder="Wilaya ya balozi") }}
                             </div>
                     </div>
                  
                
                     <div style="display:none;">
                         {{ form.district() }}
                      </div>
                      <div style="display:none;">
                         {{ form.region() }}
                      </div>
              
                      <br>
                      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 


<script>
   let region_id_select = document.getElementById("region_id");
   let district_id_select = document.getElementById('district_id');
  
   region_id_select.onchange = function()
   {
       region_id = region_id_select.value;
       
       //alert(region_to_pass.value);
       fetch('/region/' + region_id).then(function(response)
       {
        //console.table(response);
            response.json().then(function(data)
            {
                
                let optionHTML = '';
                for(let district of data.districts)
                {
                    //console.table(district);
                    optionHTML += '<option value="' + district['district_id'] + '">' + district['districtname'] + '</option>';
                }
                district_id_select.innerHTML = optionHTML; 
                var reg = region_id_select.options[region_id_select.selectedIndex].text;
                 var dist = district_id_select.options[district_id_select.selectedIndex].text;
                $("#region").val(reg);
                $("#district").val(dist);
               
            });
       });
       
   }
</script>
{% endblock %}


