{% extends 'base.html' %}

{% block title %}
Orodha ya Mabalozi
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="content-heading"><h1>Orodha ya Mabalozi</h1></div>
    <div class="container-fluid">
       <div class="card card-default d-lg-block">
          <div class="row">
             <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="card-title text-left alert alert-default"><b style="font-size:22px;">Are you sure you want to delete ?
                 <div class="card-body">
                  <legend>jhh</legend>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}